.WhatIDo
{
    /* The image used */
    background-image: url("../images/What-I-Do4.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.WhatIDo p{
    color:white;
}

.WhatIDo h2,.WhatIDo h1 {
    color:white !important;
}
