.WhatIDo
{
    /* The image used */
    background-image: url("../Assets/images/caffiene.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.WhatIDo p{
    color:white;
}

.WhatIDo h2,.WhatIDo h1 {
    color:white !important;
}

@keyframes back-to-docs{
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1.5em);
    }

    100% {
        transform: translateY(0);
    }
}