.chart1{
   display:inline-block!important;
    margin:1em;


}
#projectsBanner{
padding:5em 0;
    position:absolute;
    left:20%;
}

h1{
    padding-top:5em;
}

#rightColumn{
    padding-top:3em;
}